body {
  min-width:140px;
  padding-right:1em;
  text-align:right;
  overflow-x:hidden;
  overflow-y:scroll;
  line-height:1.4em;
  background-color:#DDDDFF;
}

#wordListBox {
	padding: 0;
	margin: 0;
}

.cancelButton {
  color: red;
  width: 1em;
}

.speakButton {
  margin-left: 0.3em;
  font-weight: bold;
}

.buttons {
  font-size:0.8em;
  float: left;
}